/* Coolors Exported Palette - https://coolors.co/399e65-8fffbf-ffffff-9e3229-eb766c */

/* CSS HEX */
--shamrock-green: #399e65ff;
--aquamarine: #8fffbfff;
--white: #ffffffff;
--auburn: #9e3229ff;
--salmon: #eb766cff;

/* CSS HSL */
--shamrock-green: hsla(146, 47%, 42%, 1);
--aquamarine: hsla(146, 100%, 78%, 1);
--white: hsla(0, 0%, 100%, 1);
--auburn: hsla(5, 59%, 39%, 1);
--salmon: hsla(5, 76%, 67%, 1);

/* SCSS HEX */
$shamrock-green: #399e65ff;
$aquamarine: #8fffbfff;
$white: #ffffffff;
$auburn: #9e3229ff;
$salmon: #eb766cff;

/* SCSS HSL */
$shamrock-green: hsla(146, 47%, 42%, 1);
$aquamarine: hsla(146, 100%, 78%, 1);
$white: hsla(0, 0%, 100%, 1);
$auburn: hsla(5, 59%, 39%, 1);
$salmon: hsla(5, 76%, 67%, 1);

/* SCSS RGB */
$shamrock-green: rgba(57, 158, 101, 1);
$aquamarine: rgba(143, 255, 191, 1);
$white: rgba(255, 255, 255, 1);
$auburn: rgba(158, 50, 41, 1);
$salmon: rgba(235, 118, 108, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #399e65ff, #8fffbfff, #ffffffff, #9e3229ff, #eb766cff);
$gradient-right: linear-gradient(90deg, #399e65ff, #8fffbfff, #ffffffff, #9e3229ff, #eb766cff);
$gradient-bottom: linear-gradient(180deg, #399e65ff, #8fffbfff, #ffffffff, #9e3229ff, #eb766cff);
$gradient-left: linear-gradient(270deg, #399e65ff, #8fffbfff, #ffffffff, #9e3229ff, #eb766cff);
$gradient-top-right: linear-gradient(45deg, #399e65ff, #8fffbfff, #ffffffff, #9e3229ff, #eb766cff);
$gradient-bottom-right: linear-gradient(135deg, #399e65ff, #8fffbfff, #ffffffff, #9e3229ff, #eb766cff);
$gradient-top-left: linear-gradient(225deg, #399e65ff, #8fffbfff, #ffffffff, #9e3229ff, #eb766cff);
$gradient-bottom-left: linear-gradient(315deg, #399e65ff, #8fffbfff, #ffffffff, #9e3229ff, #eb766cff);
$gradient-radial: radial-gradient(#399e65ff, #8fffbfff, #ffffffff, #9e3229ff, #eb766cff);